body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
}

.canvas {
    margin: 40px; 
    display: grid;
    border-style: solid;
    position: relative;
    width: 500px;
    height: 500px;
    border-width: 1px;
}

.canvas:after {
    content: "";
    display: block;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cell {
    user-select: none;
}

.cell:hover {
    background-color: lightgrey;
}